// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.cocktail-details {
  margin-bottom: 20px;
}

.links-cocktail {
  margin-top: 20px;
  margin-bottom: 20px;
}
